# Go binary and object files
*.exe
*.dll
*.so
*.dylib

# Go build output
/build/

# Go test and benchmarking files
*.test
*.prof

# Go coverage files
*.out

# Go module files
/go.mod
/go.sum

# IDE files
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

